* {
    margin: 0;
    padding: 0;
}
 
body {
    background-color: #;
    background-image: url("../img/");
    background-repeat: no-repeat;
    background-size: cover;
} 



header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 123px;
    padding: 30px 72px 0 72px;
}


h1, footer a {
    height: 70px;
    width: 304px;
    overflow: hidden;
    text-indent: -9999px;
    background: url("../img/") 0 0 no-repeat;
    display: block;
}

h2 {
    color:#fff;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display:inline-block; 
    text-transform: uppercase;
    letter-spacing: 4.5px;
    float: left;
    margin: 10px 35%;
}

section {
    clear: both;
    padding: 30px 72px 0 72px;
    position: relative;
    margin:0 0 50px 0;
}

nav {
    float: right;
    margin-top: -30px;
}
 
nav ul {
    list-style: none;
    display: block;
}
 
nav ul li {
    float: left;
    margin:0 50px;
}
 
nav ul li a {
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px
}


input[type='submit'], button, [aria-label]{
      cursor: pointer;
    }
    #spoiler{
      display: none;